{% extends "portfolio/base.html" %}

{% block content %}

<h5 class="text-center text-muted mb-5">This is my first web-site</h5>
<p class="text-center text-muted mb-5">Created 30.10.2021<br> If you are reading this, please make some tea for me</p>
{% endblock %}
